@media(max-width: 1400px) {

   /* FORM.HTML */
  
  .radio__label {
    min-width: 300px;
 }

 @media(max-width: 1200px) {

  /* FORM.HTML */
 
 .radio__label {
   min-width: 360px;
}

@media(max-width: 992px) {

  /* INDEX.HTML */
  
  .header__item:last-child {
    padding-left: 50px;
 }

 /* FORM.HTML */

 .radio__label {
  min-width: 300px;
}

}

@media(max-width: 768px) {

  /* INDEX.HTML */
  
  .header__list {
    flex-direction: column-reverse;
  }

  .header__item:last-child {
    margin: 0 auto;
    padding-left: 0;
    padding-top: 30px;
 }

 .header__heading {
  margin-top: 30px;
 }

 .item__bottom {
  margin-top: 10px;
  margin-bottom: 20px;
 }

 /* FORM.HTML */

}

@media(max-width: 576px) {

  /* INDEX.HTML */
  
  .header__heading {
  margin-top: 15px;
 }

 .header__btn {
  margin-top: 20px;
 }

 .section__heading {
  font-size: 38px;
  line-height: 130%;
 }

 /* FORM.HTML */

}